<h1>About Jack Kinsella</h1>
<h2>Professional Activities</h2>
<p>Immediately after college, I built <a href="http://www.oxbridgenotes.co.uk">Oxbridge Notes</a>, a highly automated niche marketplace for college notes. Although I retain full ownership, I am no longer operationally involved with the business, having delegated management to a dedicated team. </p>
    <p> I was also involved with creating a "real world" organisation through having co-founded <a href="http://www.bolivianexpress.org">Bolivian Express</a>, Bolivia's largest English language magazine. I lived in Bolivia during this time, and my work there had me living in dilapidated old embassies and camping on remote mountains. Our team of journalists won the praise of president Evo Morales.</p>
  <p>
    I write <%= link_to "books", books_path %> and apps, which are available elsewhere on this website.
</p>
<h3>Music</h3>
Had I been born in the days before computers, my clumsy fingers and amateur technique would have prohibited me from creating even the most rudimentary music. But thanks to the democratic magic of DAWs and the hands-free magic of sequencers, people like me get to write songs. My influences are Radiohead, Burial, Aphex Twin, Booka Shade, James Holden, Luke Abbott, Moderat, The Beatles, The Knife, Deadmau5, Chopin, and good ol' Bach. I am open to collaborating on projects with musicians, singers, and lyricists who have similar tastes.
<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/689680&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
<h2> Education</h2>
<p>I studied law at Oxford, where I graduated in 2009. Since graduation, I dedicate time every day to teach myself whatever catches my fancy, which as of late has been computer programming, rhetoric, and German. I read ravenously.</p>
