<% content_for :title, "Home" %>
<div class="inner-frame">
  <h1>(Over-)Analyst</h1>
  <p>Although I write books, software, and music, I mostly just enjoy analysing things, sometimes to an extreme and unhealthy degree.</p>
  <p>I obsessively learn and I live for the excitement of new projects. </p>
  <p><%= link_to "Read more about me >>", about_path %> </p>
  <div id="boids-canvas" class="boids-canvas"></div>
  <script>
    var canvasDiv = document.getElementById('boids-canvas');
    var options = {
      background: '#fff',
      density: 'low',
      speed: 'slow',
      interactive: true,
      mixedSizes: true,
      boidColours: ["#3E4662","#9B9B9B", "#333333", "#F85F3F", "#8A97C7"]
    };
var boidsCanvas = new BoidsCanvas(canvasDiv, options);
  </script>
</div>
