<% content_for :title, "Impressum" %>
<h1>
  Impressum
</h1>

<p>
  Jack Kinsella (sole trader)<br/>
  Graefestr 78<br/>
  10967 Berlin<br/>
  Germany<br/>
  Handy: +49 157 84544804<br/>
  Email: impressum_contact@oxbridgenotes.co.uk<br/>
  Mwstr: DE287747520<br/>
</p>
