<% content_for :title, "Privacy Policy" %>
<h1>
  Privacy policy for <%= t(:site_name) %>
</h1>

If this isn't clear enough or you require any more information about our privacy policy, please feel free to <%= link_to "contact customer support", new_customer_support_request_path %>.

The privacy of our visitors is of importance to us. This privacy policy document outlines the types of personal information received and collected by <%= t(:site_name) %>, and how it is used.

<h2>Cookies
</h2>

Like every other website that has log in / log out functionality, we use cookies to maintain user sessions.

<h2>Log Files and Google Analytics
</h2>

Like many other web sites, we make use of log files and Google Analytics. The information inside both includes IP addresses, geographic data, types of browsers, Internet Service Providers (ISP), date/time stamps, referring/exit pages, and number of clicks. We use these primarily to debug our codebase, improve our website's speed, and analyse broad trends as to inform management in making decisions about the business's future strategy. IP addresses and other such information are not linked to any information that is personally identifiable.

<h2>Stripe</h2>

As with most other websites using Stripe or similar services, Stripe automatically provides us with your real name and shipping address. We use this information for mandatory taxation and accounting purposes.

<h2>Remarketing</h2>

We let third party advertising companies track whenever you have visited <%= t(:site_name) %>. We also use identifying information (such as your email address) to create custom advertising lists. Both of these sources of information are used to display advertisements to you on other websites, such as Google, Facebook, Twitter, and websites affiliated with the aforementioned.

<h2>Conversion Tracking</h2>

We use conversion tracking to track whenever you have completed certain commercially valuable actions on our website, chiefly when you have made a purchase. This conversion information is later used by us to figure out what advertising campaigns were effective in triggering this sale. Conversion tracking is done in association with a third party advertising provider (e.g. Twitter, Facebook, Google), who also have access to the data.

<h2>Enquiries </h2>

We save all enquires made via our main contact form for business analysis.

<h2>Debugging</h2>

When there is a technical bug with a user account, our staff are empowered to log in with your account and view your account from that perspective. Your password is not leaked to our staff and is stored in a way impossible for them to read.

<h2>Multi-device tracking</h2>

We use Google Analytics universal User-ID to associate engagement data from different devices and multiple sessions.
