<% content_for :title, "Terms and Conditions" %>
<h1>
  Terms and conditions
  <p><b>Our products and services will only be given to the customer on the understanding that they have read, understood and agreed to the conditions and stipulations of our Terms and Conditions.</b></p>
  <p><b>This website, its design, and all content hereon are the copyright of Jack Kinsella.<b></p>
  
<ol>
  <li> Every reference to Jack Kinsella is used to refer to Jack Kinsella as an entity, all of its staff, and its owners.

  <li> Jack Kinsella seeks to supply the customer with written materials researched and written for the purposes of sharing educational information on the topics of programming, marketing, and self-development.

  <li> The customer acknowledges that any use by them of the materials provided by Jack Kinsella is made wholly on the customer's own initiative and free decision.

  <li> Jack Kinsella seeks to make available a single copy of materials via download link. Buyers of materials may not, under any circumstances, redistribute materials purchased on our website. Materials are intended for personal use by a single individual. Activities such as (but not limited to) sending the materials to friends, placing them online publicly, or resale are strictly prohibited and you will be liable to Jack Kinsella in the event of any such breach. The customer agrees never to violate the copyright of any written material sold to them by Jack Kinsella.

  <li> As the materials we offer for purchase are digital, users will not 'own' their copy of materials in the sense that one can own a physical book. Instead, you purchase a license for the book which states that:
  <li><li> You can save the materials onto any device that supports the format of the ebook for your personal, non-commercial use;
  <li><li> You can move the files containing the materials to different devices;
  <li><li> You CANNOT store any copies of the materials on publicly accessible servers, including FTP or HTTP servers (“web servers”);
  <li><li> The license is NOT transferable; you CANNOT sell the materials and transfer the license you've bought for them;
  <li><li> If local and/or national laws of the jurisdiction you are in forbids this non-transferability clause, you CANNOT purchase materials from Jack Kinsella;
  <li><li> You can make archival copies of the materials you've purchased.
  <li><li> Otherwise, your use of the materials will be as permitted by applicable law, including but not limited to copyright law. Your rights under the license will continue for as long as you comply with these terms and for as long as you retain any copies of the materials.

  <li> Jack Kinsella's products and services are rendered purely and solely as educational assistance and do not constitute in any form professional advice. The information and opinions contained on this website or inside the documents sold on this website are for educational purposes only, are not intended to constitute legal, medical or any other professional advice, and should not be relied on or treated as a substitute for specific advice relevant to particular circumstances. Jack Kinsella does not accept any responsibility for any loss which may arise from reliance on information or materials published on this website.

  <li> The customer is wholly aware that any view or statement expressed by Jack Kinsella, either on the website or elsewhere, does not constitute advice to the customer about the suitability of their use of our products or services, but rather these views and statements are 'opinions'.

  <li> Jack Kinsella is not responsible for the content of any external internet sites linked to by this website.

  <li> Jack Kinsella offers no guarantee that any notes or essays sold on the website will reach your subjective quality standards, nor that they will meet your specific needs. Jack Kinsella will, however, be happy to facilitate any pre-purchase inquiries and to offer electronically generated samples.

  <li> The customer agrees that as soon as an order has been paid for, either in part or in whole, and the download page accessed by the customer, the customer may not cancel that order and moreover that the customer is obliged to pay in full any outstanding fees.

  <li> The customer has a 7 day period to cancel their order under the Consumer Protection (Distance Selling) Regulations 2000. However, as provided for by the law, they waive this right as soon as they download any of the contents of their order.

  <li> We offer a 100% no-questions-asked refund. If for any reason you're unhappy with materials purchased from Jack Kinsella, email customer support and us ask to put your refund through. Please note it may take a few days for us to process your request. This refunds policy is offered in good faith, with the understanding that customers will not abuse our generosity and the digital nature of the materials we sell.

  <li> The page counts we advertise for our materials are only approximations for your experience. We calculate the page counts using headless LibreOffice and pdfinfo on Linux; different computers, display settings and software packages may deviate.

  <li> Jack Kinsella accepts no responsibility for any inaccuracies that occasionally occur in the materials we sell. Likewise, we do not accept any responsibility for the result of any such inaccuracies upon your own work or business.

  <li> Jack Kinsella is based in [the United Kingdom/Germany?]; users accessing the site from other jurisdictions accept full responsibility for ensuring their use of the site, including any purchases, is compliant with local or national laws in their own jurisdiction.

  <li> Should any legal claim arise regarding the site or its materials, users agree that Jack Kinsella will not be liable for any amount exceeding the sum paid in the transaction the claim concerns.

  <li> Users indemnify Jack Kinsella against all third party claims, demands, suits, actions, judgments, losses, costs, damages (direct, indirect and consequential), legal fees and expenses that Jack Kinsella may sustain or incur by reason of any breach or alleged breach of any representation, warranty, term or condition of these terms, and for any act or omission by you which is in any way related thereto. These limitations may not be applicable in jurisdictions which do not allow exclusions of liability for consequential or incidental damages.</p>
<ol>

</h1>
