<% content_for :title, "Terms and Conditions" %>
<h1>
  Terms and conditions
</h1>
<p><b>Our products and services will only be given to the customer on the understanding that they have read, understood and agreed to the conditions and stipulations of our Terms and Conditions.</b></p>

<ol>
  <li> Every reference to Jack Kinsella is used to refer to Jack Kinsella as an entity and all of his staff.
  </li>

  <li> Jack Kinsella seeks to supply the customer with written materials researched and written for the purposes of sharing educational information on the topics of programming, marketing, and self-development.
  </li>

  <li><b>We offer a 100% no-questions-asked refund. </b>If for any reason you're unhappy with materials purchased from Jack Kinsella, email customer support and us ask to put your refund through. Please note it may take a few days for us to process your request. This refunds policy is offered in good faith, with the understanding that customers will not abuse our generosity and the digital nature of the materials we sell.
  </li>

  <li><b> As the materials we offer for purchase are digital, users will not 'own' their copy of materials in the sense that one can own a physical book. Instead, you purchase a license for the book which states that:</b>
    <ol>
      <li> You can save the materials onto any device that supports the format of the ebook;</li>
        <li> You can move the files containing the materials to different devices;
        </li><li> <b>You CANNOT store any copies of the materials on publicly accessible servers, including FTP or HTTP or BitTorrent servers (“web servers”); </b>
        </li><li> <b>The license is NOT transferable; you CANNOT sell the materials and transfer the license you've bought for them;</b>
      </li><li> If local and/or national laws of the jurisdiction you are in forbids this non-transferability clause, you CANNOT purchase materials from Jack Kinsella;
      </li><li> You CAN make archival copies of the materials you've purchased.
      </li><li> Otherwise, your use of the materials will be as permitted by applicable law, including but not limited to copyright law. Your rights under the license will continue for as long as you comply with these terms and for as long as you retain any copies of the materials.
      </li>
    </ol>
  </li>
  <li><b>The content on this website and within books sold here are the copyright of Jack Kinsella.</b></li>
  <li> The customer acknowledges that any use by them of the materials provided by Jack Kinsella is made wholly on the customer's own initiative and free decision.
  </li>

  <li> The information and opinions contained on this website or inside the documents sold on this website are for educational purposes only, and are not intended to constitute legal, medical or any other professional advice, and should not be relied on or treated as a substitute for specific advice relevant to particular circumstances. Jack Kinsella does not accept any responsibility for any loss which may arise from reliance on information or materials published on this website.
  </li>

  <li> The customer is wholly aware that any view or statement expressed by Jack Kinsella, either on the website or elsewhere, does not constitute advice to the customer about the suitability of their use of our products or services, but rather these views and statements are 'opinions'.
  </li>

  <li> Jack Kinsella is not responsible for the content of any external internet sites linked to by this website.
  </li>


  <li> The page counts we advertise for our materials are only approximations for your experience. We calculate the page counts using headless LibreOffice and pdfinfo on Linux; different computers, display settings and software packages may deviate.
  </li>

  <li> Jack Kinsella accepts no responsibility for any inaccuracies that occasionally occur in the materials we sell. Likewise, we do not accept any responsibility for the result of any such inaccuracies upon your own work or business.
  </li>

  <li> Users indemnify Jack Kinsella against all third party claims, demands, suits, actions, judgments, losses, costs, damages (direct, indirect and consequential), legal fees and expenses that Jack Kinsella may sustain or incur by reason of any breach or alleged breach of any representation, warranty, term or condition of these terms, and for any act or omission by you which is in any way related thereto. These limitations may not be applicable in jurisdictions which do not allow exclusions of liability for consequential or incidental damages.</li>
  </ul>

