.article h1, .article .social-share-kit {
  text-align: center;
}

.article h2 {
  text-align: center;
  color: $readable-gray;
  line-height: $small-line-height;
  font-variant: small-caps;
  clear: both;
}

.article p {
  text-align: justify;

}
.article .series-highlight {
  text-align: center;
  background: tint($sch3-lightened-navy, 85%);
  font-weight: bold;
  border-radius: $base-border-radius;
  @include shift(2);
  @include span-columns(8);
}
