.article h1, .article .social-share-kit {
  text-align: center;
}

.article h2 {
  text-align: center;
  color: $readable-gray;
  line-height: $small-line-height;
  font-variant: small-caps;
  clear: both;
}

.article p {
  text-align: justify;
  @include media($tablet) {
    text-align: left;
  }
}

.article img {
  display: block;
  margin: 0 auto;
}
.article .series-highlight {
  text-align: center;
  background: tint($sch3-lightened-navy, 85%);
  font-weight: bold;
  border-radius: $base-border-radius;
  @include shift(1);
  @include span-columns(8);
}

.janki-rule {
    background: #FFF9D8;
    border: 1px solid #FFE972;
    padding: $base-spacing;
    margin-bottom: $base-spacing;
}
