.article__list {
  text-align: center;
  width: 8 * $column;
  margin-left: auto;
  margin-right: auto;

  @include media($tablet) {
    @include shift(0);
    @include span-columns(8);
  }
}

.article__list h3 {
  letter-spacing: $tiny-font-letter-spacing
}


.article__list p {
  letter-spacing: $large-font-letter-spacing;
  color: $readable-gray;
}

.article__list img {
  max-height: 200px;
}
