.benefits-of-reading h2 {
  @include browser-width-bar($sch2-light-blue);
}
.what-you-learn {
  h2 {
    @include browser-width-bar($sch3-orange);
  }
  li {
    text-align: justify;
    margin-bottom: $large-spacing;
  }
}
.peek-inside h2 {
  @include browser-width-bar($sch3-navy);
  color: white;
}
.who-should-read-this h2 {
  @include browser-width-bar($sch3-lightened-navy);
  color: white;
}
.about-author h2 {
  @include browser-width-bar($sch1-darkened-green);
  color: white;
}
.objections h2 {
  @include browser-width-bar($medium-gray);
}
.testimonials h2 {
  @include browser-width-bar($sch1-grayed-green);
}
.faq h2 {
  @include browser-width-bar($sch2-orange);
}

.about-author__social-media-icons {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.book-image {
  @include span-columns(5);
}
.book-calls-to-action {
  @include span-columns(7);
}
.about-author {
  @include span-columns(12);
  position: relative;
}
.about-author__text-side {
  @include span-columns(5);
  p {
    margin-bottom: 0px;
  }
}
.about-author__image-side {
  @include span-columns(7);
}

.built-it-no-one-came {
  h2 {
    @include browser-width-bar($sch1-main-green);
  }
  p {
    @include shift(3);
    @include span-columns(7);
  }
}


.benefits-of-reading__traffic {
  @include span-columns(6);
}
.benefits-of-reading__universal-principles {
  @include shift(7);
  @include span-columns(5);
}
.benefits-of-reading__dangerous {
  @include span-columns(5);
}
.benefits-of-reading__concrete-examples {
  @include shift(7);
  @include span-columns(5);
}
.benefits-of-reading__crammed-advice {
  @include span-columns(6);
}

.faq {
  p {
    color: $readable-gray;
  }
}

.objection-pointer-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: $base-font-size/2 0 $base-font-size/2 $column;
  border-color: transparent transparent transparent white;
}
.objection-pointer-arrow__active {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: $base-font-size/2 0 $base-font-size/2 $column;
  border-color: transparent transparent transparent $active-link-color;
}
.selectable-objections {
  @include span-columns(6 of 12);
}
.selectable-objection {
  span {
    @include span-columns(1 of 6);
  }
  h4 {
    @include span-columns(4 of 6);
  };
}

.objections {
  @include span-columns(12);
}
.selected-objection {
  color: $active-link-color;
}

.objection-answers {
  @include span-columns(5);
  color: $readable-gray;
  height: 600px;
  padding-right: 20px;
  overflow-y: scroll;
}
.hidden {
  display: none;
}

.unemphasised-text {
  color: $readable-gray;
}
