.benefits-of-reading h2 {
  @include browser-width-bar($sch2-light-blue);
}
.what-you-learn {
  h2 {
    @include browser-width-bar($sch3-orange);
  }
  li {
    text-align: justify;
    @include media($tablet) {
      text-align: left;
    }
    margin-bottom: $large-spacing;
  }
}
.peek-inside h2 {
  @include browser-width-bar($sch3-navy);
  color: white;
}
.who-should-read-this h2 {
  @include browser-width-bar($sch3-lightened-navy);
  color: white;
}
.about-author h2 {
  @include browser-width-bar($sch1-darkened-green);
  color: white;
}
.objections h2 {
  @include browser-width-bar($medium-gray);
}
.testimonials h2 {
  @include browser-width-bar($sch1-grayed-green);
}
.faq h2 {
  @include browser-width-bar($sch2-orange);
}

.about-author__social-media-icons {
  position: absolute;
  right: 0px;
  @include media($small-laptop) {
    right: 0px;
  }
  @include media($tablet) {
    position: inherit;
    text-align: center;
    margin-bottom: 0px;
  }
}

.book-image {
  @include span-columns(5);
  @include media($tablet) {
    @include span-columns(12 of 12);
  }
  img {
    box-shadow: 0px 5px 5px 3px $readable-gray;
    @include media($tablet) {
      display: block;
      margin: $base-spacing auto;
    }
  }
}
.book__description {
  @include span-columns(7);
  @include omega();
  @include media($tablet) {
    @include span-columns(12 of 12);
  }
}
.book__call-to-action-container {
  width: 80%;
  margin-right: auto;
  @include media($tablet) {
    margin-left: auto;
  }
  padding-left: $large-spacing;
  padding-top: $large-spacing;
  background: tint($light-gray, 30%);
  box-shadow: 0 8px 6px 0px $readable-gray;

  input {
    white-space: normal;
    margin-bottom: $small-spacing;
  }

  ul {
    margin-top: $small-spacing;
    padding-bottom: $small-spacing;
  }

  li {
    margin-bottom: 0px;
    font-variant: small-caps;
    font-size: 0.75rem;
  }
}
.about-author {
  @include span-columns(12);
  position: relative;
}
.about-author__text-side {
  @include span-columns(5);
  @include media($tablet) {
    h3 {
      text-align: center;
    }
    @include span-columns(12 of 12);
  }
  p {
    margin-bottom: 0px;
  }
}
.about-author__image-side {
  @include span-columns(7);
  @include media($tablet) {
    @include span-columns(12 of 12);
  }
  img.book__author-portrait {
    width: 100%;
  }
}

.built-it-no-one-came {
  h2 {
    @include browser-width-bar($sch1-main-green);
  }
  p {
    @include shift(3);
    @include span-columns(7);
    @include media($tablet) {
      @include shift(1);
      @include span-columns(7);
    }
  }
}


.benefits-of-reading__traffic {
  @include span-columns(6);
  @include media($tablet) {
    @include span-columns(10 of 12);
  }
}
.benefits-of-reading__universal-principles {
  @include shift(7);
  @include span-columns(5);
  @include media($tablet) {
    @include shift(2);
    @include span-columns(10 of 12);
  }
}
.benefits-of-reading__dangerous {
  @include span-columns(5);
  @include media($tablet) {
    @include span-columns(10 of 12);
  }
}
.benefits-of-reading__concrete-examples {
  @include shift(7);
  @include span-columns(5);
  @include media($tablet) {
    @include shift(2);
    @include span-columns(10 of 12);
  }
}
.benefits-of-reading__crammed-advice {
  @include span-columns(6);
  @include media($tablet) {
    @include span-columns(10 of 12);
  }
}

.faq {
  p {
    color: $readable-gray;
  }
}

.selectable-objections {
  @include span-columns(6 of 12);
  padding-top: $large-spacing;

  @include media($tablet) {
    @include span-columns(12 of 12);
  }
}
.selectable-objection {
  span {
    @include span-columns(1 of 6);
  }
  h4 {
    @include span-columns(4 of 6);
  };
}

.objection-pointer-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 0 14px $column;
  border-color: transparent;
  clear: both;
}

.selectable-objection--selected {
  a {
    color: $active-link-color;
  }
  .objection-pointer-arrow {
    border-color: transparent transparent transparent $active-link-color;
  }
}

.objections {
  @include span-columns(12);
}

.objection-answers {
  @include span-columns(6);
  color: $readable-gray;
  height: 600px;
  padding: $small-spacing;
  overflow-y: scroll;
  background: tint($light-gray, 48%);
  box-shadow: 0px 7px 10px;

  @include media($tablet) {
    @include span-columns(12 of 12);
  }
}
.hidden {
  display: none;
}

.unemphasised-text {
  color: $readable-gray;
}

@keyframes pulse {
  0% {
    padding: 0.2em;
    box-shadow: 0 0 0 0 $sch3-complement;
  }

  50% {
    padding: 0.4em;
  }

  99% {
    padding: 0.2em;
    box-shadow: 0 0 0 0.5em transparent;
  }
}

.pulse {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 8px;
  animation: out 2s infinite linear;
  background: $sch3-orange;
  margin: 0 9px -2px 1px;
  animation-name: pulse;
  cursor: pointer;
}

.checkout-button-container {
  position: relative;
}

.checkout-button-container form {
  position: absolute;
  left: $large-spacing;
  top: -14px;
  display: inline-block;
  @include media($tablet) {
    @include shift(1 of 6);
  }
}

.book__preview {
  background-color: tint(#dcdace, 60%);
  padding-bottom: $small-spacing;
  padding-left: $large-spacing * 2;
  padding-right: $large-spacing * 2;
  width: 83.333%;
  margin: 0 auto;
  @include media($tablet) {
    width: 100%;
  }
  table {
    text-transform: uppercase;
    a {
      color: $warm-black;
    }
  }
  td {
    padding-bottom: 0;
    padding-top: 0;
    border-bottom: 1px dotted $readable-gray;
  }
  tbody tr:hover {
    background-color: shade(#dcdace, 20%);
    a {
      color: white;
    }
  }
  td:nth-child(2), th {
    text-align: right;
    @include media($tablet) {
      text-align: left;
    }
  }

  tr:first-of-type td {
    padding-top: $base-spacing;
  }
  tbody {
    top: $column;
  }
  thead {
    margin-bottom: $column;
    border-bottom: 2px solid $warm-black;
  }
}
