<h1>
  Articles
</h1>

<p>
  <%= link_to "Add new article", new_admin_article_path %>
</p>

<table>
  <thead>
    <tr>
      <th>
        title
      </th>
      <th>
        actions
      </th>
    </tr>
  </thead>
  <tbody>
    <% articles.each do |article| %>
      <tr>
        <td>
          <%= article.title %>
        </td>
        <td>
          <%= link_to "View as user", article_path(article.slug) %>
          <%= link_to "Edit", edit_admin_article_path(article.slug) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
