---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/balance/history?created%5Bgte%5D=1472688000&created%5Blte%5D=1475279999&expand%5B%5D=data.source.charge&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "txn_18sC0KExoLTEnFFvrCw3CfFE",
              "object": "balance_transaction",
              "amount": 87,
              "available_on": 1474070400,
              "created": 1473515928,
              "currency": "eur",
              "description": null,
              "fee": 28,
              "fee_details": [
                {
                  "amount": 28,
                  "application": null,
                  "currency": "eur",
                  "description": "Stripe processing fees",
                  "type": "stripe_fee"
                }
              ],
              "net": 59,
              "source": {
                "id": "ch_18sC0KExoLTEnFFvg0a5Ljts",
                "object": "charge",
                "amount": 100,
                "amount_refunded": 0,
                "application_fee": null,
                "balance_transaction": "txn_18sC0KExoLTEnFFvrCw3CfFE",
                "captured": true,
                "created": 1473515928,
                "currency": "usd",
                "customer": null,
                "description": null,
                "destination": null,
                "dispute": null,
                "failure_code": null,
                "failure_message": null,
                "fraud_details": {},
                "invoice": null,
                "livemode": false,
                "metadata": {
                  "order_id": "dummy"
                },
                "order": null,
                "paid": true,
                "receipt_email": null,
                "receipt_number": null,
                "refunded": false,
                "refunds": {
                  "object": "list",
                  "data": [],
                  "has_more": false,
                  "total_count": 0,
                  "url": "/v1/charges/ch_18sC0KExoLTEnFFvg0a5Ljts/refunds"
                },
                "shipping": null,
                "source": {
                  "id": "card_18sC0JExoLTEnFFvqyosASYJ",
                  "object": "card",
                  "address_city": null,
                  "address_country": null,
                  "address_line1": null,
                  "address_line1_check": null,
                  "address_line2": null,
                  "address_state": null,
                  "address_zip": null,
                  "address_zip_check": null,
                  "brand": "Visa",
                  "country": "US",
                  "customer": null,
                  "cvc_check": "pass",
                  "dynamic_last4": null,
                  "exp_month": 7,
                  "exp_year": 2019,
                  "fingerprint": "83foGQX3rMLx1Gjy",
                  "funding": "credit",
                  "last4": "4242",
                  "metadata": {},
                  "name": null,
                  "tokenization_method": null
                },
                "source_transfer": null,
                "statement_descriptor": null,
                "status": "succeeded"
              },
              "sourced_transfers": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/transfers?source_transaction=ch_18sC0KExoLTEnFFvg0a5Ljts"
              },
              "status": "pending",
              "type": "charge"
            },
            {
              "id": "txn_18sC0HExoLTEnFFvDCKVrIEx",
              "object": "balance_transaction",
              "amount": 873,
              "available_on": 1474070400[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/balance/history?created%5Bgte%5D=1472688000&created%5Blte%5D=1475279999&expand%5B%5D=data.source.charge&limit=100&starting_after=txn_18sC0FExoLTEnFFvpYSqLblH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/balance/history"
        }
  recorded_at: Sat, 10 Sep 2016 14:16:05 GMT
recorded_with: VCR 3.0.3
