<p>
  Thank you for your purchase! Your downloads are available on the order page.
</p>
<p>
  <%= link_to "Click here to view your order", order_url(@order) %>
</p>
<p>
  You can also download an invoice by following that same link.
</p>

<p>
  A ton of time and care goes into writing this stuff, so we really hope you enjoy it and find it useful. But if you don't, please get in touch via the website to let us know and we'll issue you a full refund, no questions asked (of course, feedback is always welcome).
</p>
<p>Have a great day! </p>
<p>
  - Jack's team
</p>
