<p>
  Thank you for your purchase! Your downloads are available on the order page.
</p>

<p>
  <%= link_to "Click here to view your order", order_url(@order) %>
</p>
<p>
  You can also download an invoice at that same link.
</p>
