---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[cvc]=313&card[exp_month]=7&card[exp_year]=2019&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer <STRIPE_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_18sC0DExoLTEnFFvC4QF3Wn7",
          "object": "token",
          "card": {
            "id": "card_18sC0DExoLTEnFFv15N96DqA",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2019,
            "fingerprint": "83foGQX3rMLx1Gjy",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "83.29.211.137",
          "created": 1473515921,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sat, 10 Sep 2016 13:58:42 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=1000&currency=USD&metadata[order_id]=399cd162-8e82-4d11-bf7c-fe417ba0faa0&source=tok_18sC0DExoLTEnFFvC4QF3Wn7
    headers:
      Authorization:
      - Bearer <STRIPE_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_18sC0FExoLTEnFFvCZAzmDS5",
          "object": "charge",
          "amount": 1000,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_18sC0FExoLTEnFFvpYSqLblH",
          "captured": true,
          "created": 1473515923,
          "currency": "usd",
          "customer": null,
          "description": null,
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "order_id": "399cd162-8e82-4d11-bf7c-fe417ba0faa0"
          },
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_18sC0FExoLTEnFFvCZAzmDS5/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_18sC0DExoLTEnFFv15N96DqA",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2019,
            "fingerprint": "83foGQX3rMLx1Gjy",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Sat, 10 Sep 2016 13:58:43 GMT
recorded_with: VCR 3.0.3
