---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[cvc]=313&card[exp_month]=7&card[exp_year]=2019&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer <STRIPE_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_98kHuBkKVJeL9z",
          "object": "token",
          "card": {
            "id": "card_98kHYyt6ebEroB",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2019,
            "fingerprint": "ufArVA4AmgyTYN8A",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "94.254.163.228",
          "created": 1473103816,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Mon, 05 Sep 2016 19:30:15 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=1000&currency=USD&metadata[order_id]=3078aba1-45b9-4623-b2d6-dacfc5e82f90&source=tok_98kHuBkKVJeL9z
    headers:
      Authorization:
      - Bearer <STRIPE_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_98kHW12NrslY5y",
          "object": "charge",
          "amount": 1000,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_98kHoJu0AYdxmj",
          "captured": true,
          "created": 1473103818,
          "currency": "usd",
          "customer": null,
          "description": null,
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "order_id": "3078aba1-45b9-4623-b2d6-dacfc5e82f90"
          },
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_98kHW12NrslY5y/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_98kHYyt6ebEroB",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2019,
            "fingerprint": "ufArVA4AmgyTYN8A",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Mon, 05 Sep 2016 19:30:18 GMT
recorded_with: VCR 3.0.3
