<% content_for :title, "Previous Orders" %>
<h1>
  Previous Orders
</h1>

<h3>Orders</h3>
<ul>
  <% orders.each do |order| %>
    <li>
      <%=
        link_to(
          "Order #{order.created_at.strftime("%F")}",
          order_path(order)
        )
      %>
    </li>
  <% end %>
</ul>

<h3>Need an invoice for taxation purposes?</h3>
<p>Then simply click the relevant order above and you'll see a button for downloading your invoice.</p>
