<h1>
  Your order details
</h1>

<ul>
  <% order.books.each do |book| %>
    <li>
      <%= book.title %>
      <%=
        link_to(
          "Download PDF",
          download_pdf_order_book_path(order, book)
        )
      %>
    </li>
  <% end %>
</ul>
