<div class="inner-frame">
  <h1>
    Please login
  </h1>

  <p>
    Passwords suck so we use a passwordless login system. Just enter your email address below and we will send a magic link straight to your inbox. By clicking that link, you'll be logged in and can download your purchases or print your invoices.
  </p>

  <%= form_tag authentication_send_token_path do %>
    <%= text_field_tag :email %>
    <%= submit_tag "Send" %>
  <% end %>
</div>
