<ul>
  <% book.chapters.each do |chapter| %>
    <li>
      <%=
        link_to(
          "Chapter #{chapter.number} - #{chapter.title}",
          book_chapter_path(book.slug, chapter.slug)
        )
      %>
    </li>
  <% end %>
</ul>
