<table>
  <thead>
    <tr>
      <th></th>
      <th>Chapter</th>
    </tr>
  </thead>
  <tbody>
    <% book.chapters.each do |chapter| %>
      <tr>
        <td> <%= chapter.title %> </td>
        <td> <%= chapter.number %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
