#{$all-buttons} { // (Bourbon - selects three types of inputs (e.g. button,reset, and submit)
  appearance: none; // remove default platform-specific styling otherwise forced on certain buttons
  background-color: $action-color;
  border: 0;
  border-radius: $base-border-radius * 10;
  box-shadow: 0 -1px 10px $readable-gray;
  color: #fff;
  cursor: pointer; // change the cursor style!
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $tiny-spacing;
  margin-bottom: $base-spacing;
  text-align: center;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none; // stops the user selecting that element
  vertical-align: middle; // centre of button aligns with other els in baseline
  white-space: nowrap; // will instead overflow outside box

  &:hover,
  &:focus {
    background-color: shade($action-color, 20%);
    color: #fff;
    transform: scale(1.2);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
}

.input[type="submit"].add-to-cart-button {
  border-radius: 200px;
}

#test-stripe-payment .stripe-button-el span {
  line-height: normal;
  height: auto;
  font-size: modular-scale(1);
}
