.flash {
  text-align: center;
  color: white;
  background: tint($sch1-main-green, 30%);
  margin-top: $base-spacing !important;
  border-radius: $base-border-radius;
  @include span-columns(7);
  margin: 0 auto;
}
