.flash {
  text-align: center;
  color: white;
  background: tint($sch1-main-green, 30%);
  margin-top: $large-spacing;
  border-radius: $base-border-radius;
  @include shift(3);
  @include span-columns(7);
}
