.flash {
  text-align: center;
  color: white;
  background: tint($sch1-main-green, 30%);
  margin-top: $base-spacing !important;
  border-radius: $base-border-radius;
  box-shadow: 0 8px 10px $readable-gray;
  width: 60%;
  margin: 0 auto;
}
