footer {
  @include span-columns(12);
  border-top: $base-border;
  padding-top: $large-spacing;
  padding-left: 0px;
  padding-right: 0px;
  z-index: -1;
  border-right: 1px solid white;
  color: $warm-black;
  a,p {
    color: $readable-gray;
  }
}
.footer__section {
  @include span-columns(4 of 12);
}
.footer__bottom-row {
  @include span-columns(12);
  background: $sch3-navy;
  color: white;
  display: inline;

  h4, input, form, label {
    display: inline;
    font-family: $heading-font-family;
  }
  h4 {
    padding-left: $base-spacing;
  }
  input {
    font-size: modular-scale(0);
    margin-top: -10px;
  }
  input[type="submit"] {
    margin-right: $base-spacing;
  }
  margin-bottom: $large-spacing;
}

.footer__section-title {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer__copyright {
  margin-top: $large-spacing;
}

.footer__mid {
  text-align: center;
}

.footer__right {
  text-align: right;
}

.footer__link-list {
  list-style: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}
