footer {
  @include span-columns(12);
  border-top: $base-border;
  padding-top: $large-spacing;
  padding-left: 0px;
  padding-right: 0px;
  z-index: -1;
  border-right: 1px solid white;
  color: $warm-black;
  a,p {
    color: $readable-gray;
  }
}
.footer__section {
  @include span-columns(4 of 12);
  @include media($tablet) {
    width: 100%;
    font-size: 1.50rem;
    > * {
      margin: 0 auto;
      text-align: center
    }
    h4 {
      padding-top: $small-spacing;
    }
    a {
      padding: $base-spacing $large-spacing;
    }
  }
}

.footer__section-title {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer__copyright {
  font-size: 0.75em;
  font-variant: small-caps;
}

.footer__mid {
  text-align: center;
}

.footer__right {
  text-align: right;
}

.footer__top_row {
  @include media($tablet) {
    background-color: $light-gray;
    display: table;
    border-radius: $round-border-radius;
  }
}

.footer__link-list {
  list-style: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.footer__bottom-row {
  @include span-columns(12);
  border-radius: $round-border-radius;
  background: $sch3-navy;
  color: white;
  padding: 0 $large-spacing;
  position: relative;
  @include media($tablet) {
    margin-top: $base-spacing;
  }

  h4, input, form, label {
    font-family: $heading-font-family;
  }
  h4 {
  }
  input {
    font-size: 1rem;
    padding: 0px;
  }
  margin-bottom: $large-spacing;
}

.footer__mailing-list-text {
  @include span-columns(3 of 10);
  margin-top: $small-spacing;
  @include media($tablet) {
    @include span-columns(5 of 10);
  }
}
.footer__mailing-list-text-input{
  @include span-columns(5 of 10);
  @include media($tablet) {
    @include omega();
  }
}
.footer__mailing-list-submit {
  @include span-columns(2 of 10);
  margin-top: $small-spacing;
  @include media($tablet) {
    @include span-columns(10 of 10);
    clear: both;
    text-align: center;
    input {
      width: 100%;
      padding-right: $small-spacing;
    }
  }
}
