$border-box-sizing: true;

.container {
  padding-left: $small-spacing;
  padding-right: $small-spacing;
  @include outer-container();

  @include media($small-laptop) {
    @include outer-container(90%);
  }

}

.layout__main-content {
  @include span-columns(12);

  @include media($tablet) {
    @include span-columns(8);
  }

  @include media($mobile) {
    @include span-columns(4);
  }
  min-height: 600px;
}

.row {
  @include span-columns(12);
  margin-bottom: $large-spacing;
}
.center-box {
  @include shift(3);
  @include span-columns(7);
  text-align:center;
}
.quarter-page {
  @include span-columns(3);
}
.half-page {
  @include span-columns(6);
}
.right-sidebar {
  @include fixed-side-bar($sch3-complement,'right');
}
.left-sidebar {
  @include fixed-side-bar($sch3-lightened-navy,'left');
}
.inner-frame {
  @include shift(1);
  text-align: center;
  @include span-columns(10);
  ul,ol {
    text-align: left;
  }
}

