$border-box-sizing: true;

.container {
  padding-left: $small-spacing;
  padding-right: $small-spacing;
  @include outer-container();

  /*progressively decrease to accommodate sidebars*/
  @include media($small-laptop) {
    @include outer-container(87%);
  }
  @include media($tablet) {
    @include outer-container(82%);
  }
  @include media($mobile) {
    @include outer-container(95%);
  }
}

.layout__main-content {
  @include span-columns(12);

  @include media($tablet) {
    @include span-columns(8);
  }

  @include media($mobile) {
    @include span-columns(4);
  }
  min-height: 600px;
}

.row {
  @include span-columns(12);
  margin-bottom: $large-spacing;
}
.center-box {
  @include shift(3);
  @include span-columns(7);
  text-align:center;
  @include media($tablet) {
    @include shift(1);
    @include span-columns(10 of 12);
  }
}
.quarter-page {
  @include span-columns(3);
  /*not really quarter anymore...*/
  @include media($tablet) {
    h3 {
      text-align: center;
    }
    p {
      text-align: justify;
    }
    @include shift(1);
    @include span-columns(7);
  }
}
.half-page {
  @include span-columns(6);
  @include media($tablet) {
    @include span-columns(12 of 12);
    h3 {
      text-align: center;
      font-variant: small-caps;
      text-transform: lowercase;
      font-size: 1.35rem;
      text-decoration: underline;
    }
  }
}
.right-sidebar {
  @include fixed-side-bar($sch3-complement,'right');
}
.left-sidebar {
  @include fixed-side-bar($sch3-lightened-navy,'left');
}
.inner-frame {
  @include shift(1);
  @include span-columns(10);
  text-align: center;
  ul,ol {
    text-align: left;
  }
  @include media($tablet) {
    @include span-columns(8);
    @include shift(0);
  }
}

