ul,
ol {
  margin: 0;
  margin-bottom: $base-spacing;
  padding: 0;
}
ul {
  list-style-type: none;
}

li ol {
  margin-left: $base-spacing;
  margin-bottom: 0px;
  list-style-type: lower-alpha;
}

.article ol li {
  margin-bottom: $small-spacing;
  margin-left: $base-spacing
}

.article ul {
  padding-left: $base-spacing;
}

.article ul li, .rocket-list-item {
  @include icon-list('\f135');
  /*innermost list items have another style*/
  ul li {
    @include icon-list('\f206');
  }
}

li p {
  display: inline;
}

.horizontal-list li {
  display: inline;
}

.benefits-list li {
  list-style-image: image-url("arrow-icon.png");
  list-style-position: inside;
  text-indent: -1em;
  margin-left: 0.5em;
}
