ul,
ol {
  list-style-type: none;
  margin: 0;
  margin-bottom: $base-spacing;
  padding: 0;
}

.article ul {
  padding-left: $base-spacing;
}

.article li {
  margin-bottom: 0px;
  @include icon-list('\f135');
  /*innermost list items have another style*/
  ul li {
    @include icon-list('\f206');
  }
}

li p {
  display: inline;
}

.horizontal-list li {
  display: inline;
}

.benefits-list li {
  list-style-image: image-url("arrow-icon.png");
  list-style-position: inside;
  text-indent: -1em;
  margin-left: 0.5em;
}
