ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 0px;
}

.horizontal-list li {
  display: inline;
}

.benefits-list li {
  list-style-image: image-url("arrow-icon.png");
  list-style-position: inside;
  text-indent: -1em;
  margin-left: 0.5em;
}
