@mixin browser-width-bar($color) {
  background-color: $color;
  position: relative;
  padding: $large-spacing;

  &:before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -9998px;
    right: 0;
    border-left: 9999px solid $color;
    box-shadow: 9999px 0 0 $color;
  }
}

@mixin fixed-side-bar($color, $side) {
  background-color: $color;
  z-index: 10;
  position: fixed;
  top: 0;
  @if $side == 'left' {
    left: 0;
  }
  @else {
    right: 0;
  }
  width: 5%;
  min-width: 60px;
  height: 100%;
  h2 {
    white-space: nowrap;
    text-transform: lowercase;
    font-variant: small-caps;
    letter-spacing: $base-font-letter-spacing * 30;
    position: relative;

    @if $side == 'left' {
      // transform() comes from bourbon framework
      @include transform(rotate(-90deg));
    }
    @else {
      @include transform(rotate(90deg) translateX(-100%));
    }
    top: 40%;
    z-index: 5;
    backface-visibility: hidden;
  }

  @include media($mobile) {
    display: none;
  }
}

@mixin link-color-scheme($base-link-color, $active-link-color) {
   color: $base-link-color;
   &:active,
   &:focus,
   &:hover {
     color: $active-link-color;
 }
}

/*uses font-awesome*/
@mixin icon-list($icon) {
  position: relative;
  padding-left: $large-spacing;
  margin-bottom: $tiny-spacing;
  &:before {
    position: absolute;
    top: 0px;
    left: 0;
    font-family: 'FontAwesome';
    content: $icon;
  }
}
