.ssk-dark-gray {
  background: $warm-black;

  @include media($tablet) {
    margin-right: $large-spacing;
    /*increase size of buttons so thumbs can click on them*/
    &:after {
      content: '';
      top: -14px;
      bottom: -14px;
      left: -14px;
      right: -14px;
    }
  }
}

.social-share-kit {
  margin-bottom: $base-spacing;
}
