table {
  border-collapse: collapse; // otherwise adjacent cells double up on borders
  margin: $small-spacing 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid $light-gray;
  font-weight: 600;
  padding: $small-spacing;
  text-align: left;
}

tbody tr:nth-child(odd) {
  background-color: $light-gray;
}

td {
  border-bottom: $light-gray;
  padding: $small-spacing $small-spacing;
}

tr,
td,
th {
  vertical-align: middle;
}
