table {
  border-collapse: collapse; // otherwise adjacent cells double up on borders
  margin: $small-spacing 0;
  width: 100%;
  border-bottom: 1px solid $light-gray;
}

th {
  border-bottom: 1px solid $light-gray;
  font-weight: 600;
  padding: $small-spacing;
  text-align: left;
}

.article tbody tr:nth-child(odd) {
  background-color: $light-gray;
}

.clickable-row {
  cursor: pointer;
}

td {
  border-bottom: $light-gray;
  padding: $small-spacing;
}

td:first-of-type {
  text-align: left;
}

tr,
td,
th {
  vertical-align: middle;
}
