// Problem: "I am using a Mac, and in Chrome and
// Safari the vertical scroll bar will only show
// when the mouse is over the Div and you actively
// scroll. Is there a way to always have it
// displaying?"

// // http://stackoverflow.com/questions/7492062/css-overflow-scroll-always-show-vertical-scroll-bar

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
