---
http_interactions:
- request:
    method: get
    uri: http://ipinfo.io/8.8.8.8/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "8.8.8.8",
          "hostname": "google-public-dns-a.google.com",
          "city": "Mountain View",
          "region": "California",
          "country": "US",
          "loc": "37.3860,-122.0838",
          "org": "AS15169 Google Inc.",
          "postal": "94035"
        }
  recorded_at: Mon, 05 Sep 2016 23:52:38 GMT
recorded_with: VCR 3.0.3
