@import "neat-helpers";

$column: 4.2358em;
$gutter: 1.618em;
$grid-columns: 12;
$max-width: 1200px;
$border-box-sizing: true;
$default-feature: min-width;
$default-layout-direction: LTR;

$small-laptop: new-breakpoint(max-width 1300px 12);
$tablet: new-breakpoint(max-width 1000px 8);
$mobile: new-breakpoint(max-width 600px 4);
