// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

// Typography
$base-font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
$base-font-letter-spacing: 0.2px;
$large-font-letter-spacing: $base-font-letter-spacing * 3;
$tiny-font-letter-spacing: $base-font-letter-spacing * -3;
$heading-font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;

// Font Sizes
$base-font-size: 1.4em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$large-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$light-gray: #ededed;
$medium-gray: rgb(211,211,211);
$readable-gray: rgb(155,155,155);
$warm-black: #333;
// Scheme 1
$sch1-main-green: rgb(77,182,125);
$sch1-grayed-green: rgb(55,145,97);
$sch1-darkened-green: rgb(22,128,82);
$sch1-orange: rgb(248,95,63);
// Scheme 2
$sch2-light-blue: rgb(137,167,206);
$sch2-darkened-blue: rgb(155,158,189);
$sch2-orange: rgb(246,90,5);
// Scheme 3
$sch3-navy: rgb(62,70,89);
$sch3-lightened-navy: rgb(138,151,199);
$sch3-orange: rgb(232,118,92);
$sch3-complement: #c7a68a;

// Font Colors
$base-font-color: $warm-black;
$action-color: $sch1-orange;
$active-link-color: shade($action-color, 50%);

// Border
$base-border-color: $medium-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 15%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba($warm-black, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
