@import "normalize.css/normalize";
@import "bourbon";
@import "./grid_settings";
@import "neat";

@import './variables';
@import './components/base_elements';
@import './components/layout';
@import './components/links';
@import './components/typography';
@import './components/lists';
@import './components/footer';
@import './components/forms';
@import './components/header';
@import './components/flash';
@import './components/pagination';
@import './components/tables';

.layout__main-content > div {
  border: solid black 5px;
  margin: 10px;
  padding: 10px;
}
