<div id="epiceditor"></div>
<script>
  var opts = {
    container: 'epiceditor',
    textarea: 'article_body',
    basePath: '',
    theme: {
      base: "<%= asset_path 'epiceditor/epiceditor.css' %>",
      preview: "<%= asset_path 'epiceditor/preview-dark.css' %>",
      editor: "<%= asset_path 'epiceditor/epic-dark.css' %>"
    },
    autogrow: true
  }
  var editor = new EpicEditor(opts).load();
</script>
