<div class="footer__mailing-list-text">
  <h4>Stay In Touch?</h4>
</div>
<form action="//bolivianexpress.us4.list-manage.com/subscribe/post?u=234d8d39b6383ce6d16ae1b95&id=9d161b48cf" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <div class="footer__mailing-list-text-input">
    <label for="mce-EMAIL">
    </label>
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required>
    <%#[> real people should not fill this in and expect good things - do not remove this or risk form bot signups<]%>
    <%#<div style="position: absolute; left: -5000px;" aria-hidden="true">%>
      <%#<input type="text" name="b_234d8d39b6383ce6d16ae1b95_9d161b48cf" tabindex="-1" value="">%>
      <%#</div>%>
  </div>
  <div class="footer__mailing-list-submit">
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
  </div>
</form>
