<%# Uses social share kit %>
<%# http://socialsharekit.com/#overview %>
<div class="social-share-kit">
  <div class="ssk-group ssk-count ">
    <a href="" class="ssk ssk-email ssk-dark-gray"></a>
    <a href="" class="ssk ssk-twitter ssk-dark-gray"></a>
    <a href="" class="ssk ssk-whatsapp ssk-dark-gray"></a>
    <a href="" class="ssk ssk-reddit ssk-dark-gray"></a>
    <a href="" class="ssk ssk-facebook ssk-dark-gray"></a>
  </div>
</div>
