<%# Take from http://www.sharethis.com/get-sharing-tools/ #%>
<% content_for :head do %>
  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "247bf0ff-0c88-475a-a6b5-7f0303509867", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<% end %>
<span class='st_facebook_large' displayText='Facebook'></span>
<span class='st_twitter_large' displayText='Tweet'></span>
<span class='st_pocket_large' displayText='Pocket'></span>
<span class='st_reddit_large' displayText='Reddit'></span>
<span class='st_email_large' displayText='Email'></span>
